
body {
    display: flex;
    justify-content: center;
    background-color: #58caffd8;
    background-image: url("./3px-tile.png");
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-image: linear-gradient(to left, #9dbfff, #81d1ff, #6be1ff, #69efff, #7ffbf0);
    border: 2px solid rgb(51, 51, 51);
    border-radius: 10px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    padding: 2px;
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
